<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal'>x</button>

  <div class='flash-errors'>
    <% if flash[:errors] %>
      <% flash[:errors].each do |alert| %>
        <p class="alert"><%= alert %></p>
      <% end %>
    <% end %>
  </div>

</div>

<div class='modal-body'>
  <%= simple_form_for @list, remote: true, class: 'list-form' do |f| %>
    <%= f.input :title %>
    
  <span class='modal-footer'><%= f.button :submit, class: 'btn create-list' %></span>
  <% end %>
</div>