// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


$secondary-color: #100c42;
$primary-color: #c4c2e0;

.navbar {
  color: $primary-color;
  background-color: $secondary-color;
  padding: 0;
  margin: 0;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 8px 30px;
  }
  .nav-links {
    color: $primary-color;
    font-family: 'Courgette', cursive;
    text-decoration: none;
  }
  .nav-links:nth-child(2) {
    font-size: 16px;
  }
  .nav-links:hover {
    color: #dae3ff;
    background-color: transparent;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.main {
  margin: 0 30px;
  font-family: 'Poppins', sans-serif;

.table {
  margin-top: 35px;
.thead {
  text-align: center;
  background-color: $secondary-color;
  th {
    color: $primary-color !important;
  }
}

tbody {
  td {
    text-align: center;
  }
}
}

input.btn, .btn {
  color: $primary-color !important;
  background-color: $secondary-color !important;
  border-radius: 25px;
  font-size: 16px;
}

.btn:hover {
  color: $secondary-color !important;
  background-color: $primary-color !important;
  border-radius: 25px;
}

a.list-link {
  text-decoration: none;
  color: #000000;
}

a.list-link:hover {
  color: #f70e0e;
  background-color: transparent;
}

abbr[title] {
  display: none;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  .controller-action {
    display: block;
  }
}

  .modal-body.edit-list {
    display: flex;
    flex-direction: column
  }

  .back-to-lists {
    margin-top: 10px;
    display: flex;
  }

  span.error {
    display: none;
  }

  .flash-errors {
    float: right;
  } 
}
